* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #333;
  margin: 0px auto;
  width: 80%;
  border: 1px solid black;
}

.title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.links {
  height: 100%;
}

.links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
  margin: 0 20px;
}

.links li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}

.links li:hover {
  background-color: #555;
}

.button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.button .bar {
  height: 3px;
  width: 100%;
  background-color: #333;
  border-radius: 10px;
}
.icon img {
  margin: 0px 10px;
}
@media (max-width: 900px) {
  .navbar {
    margin: auto;
    width: 80%;
    background-color: blue;
  }

  .button {
    display: flex;
  }

  .links {
    display: none;
    width: 100%;
  }

  .links ul {
    width: 100%;
    flex-direction: column;
  }

  .links ul li {
    text-align: center;
  }

  .links ul li a {
    padding: 0.5rem 1rem;
  }

  .links.active {
    display: flex;
  }
  .icon img {
    display: none;
    margin: 0px 3px;
  }
}
