* {
  box-sizing: border-box;
}
.header {
  display: flex;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.aboutClient {
  margin-top: 15px;
  border-style: none;
}
.aboutClient a {
  list-style: none;
  color: black;
}
.aboutBar {
  position: relative;
  margin-left: -50px;
  margin-top: 14px;
}

.navbar2 {
  display: flex;
  background-color: #f6f6f6;
  justify-content: center;
  color: #333;
  margin: 7px auto;
  width: 90vw;
}
.links2 li a {
  display: flex;
  margin: 10px auto;
  cursor: pointer;
  color: black;
}
.links2 li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #333;
  margin: 0px auto;
  width: 80%;
}

.title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.links {
  height: 100%;
}

.links ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.links li {
  list-style: none;
  margin: 0 20px;
}

.links li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}

.button {
  position: absolute;
  top: 1.1rem;
  right: 2rem;
  display: none;
  cursor: pointer;
}
.icon img {
  margin: 0px 10px;
}

@media screen and (max-width: 1271px) {
  .icon img {
    margin: 0px 2px;
  }
}

@media screen and (max-width: 1211px) {
  .icon img {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar {
    margin: auto;
    width: 90%;
  }

  .button {
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }

  .links ul {
    width: 100%;
    flex-direction: column;
  }

  .links ul li {
    text-align: center;
    margin: 0px 5px;
  }

  .links ul li a {
    padding: 0.5rem 0.5rem;
  }

  .links.active {
    display: flex;
  }
  .icon img {
    display: none;
  }
}
@media (min-width: 993px) {
  .navbar2 {
    display: none;
  }
}
