.box1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-image: url(./Images/Group\ 1331.svg);
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -10%;
}
.mac {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40vw;
}
.FirstTitle {
  display: flex;
  margin-top: -40px;
  font-size: 48px;
  font-weight: bold;
}

.container2 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}
.container3 {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  margin-top: 50px;
}
.disc1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200.69%;
  color: #263238;
}
@media (max-width: 1100px) {
  .container2 {
    display: flex;
    max-width: 80%;
  }

  .contImg img {
    width: 100%;
  }
}
