.box1 {
  display: flex;
  flex-direction: column;
  height: 53vw;
}
.box1Img {
  display: flex;
}
.box1Img img {
  width: 100vw;
  object-fit: cover;
}
.box1Text {
  position: relative;
  top: -35vw;
  left: 23vw;
  font-size: 4vw;
  width: 60vw;
  color: white;
  text-align: center;
}
.box1Btn {
  position: relative;
  top: -31vw;
  left: 40vw;
  font-size: 34px;
  width: 23vw;
  border-style: none;
  color: #ee4248;
  border-radius: 5px;
}
.box1Mac {
  position: relative;
  top: -25vw;
  left: 34vw;
  width: 34vw;
}
.FirstTitle {
  display: flex;
  margin-top: -40px;
  font-size: 48px;
  font-weight: bold;
}

.container2 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}
.container3 {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  margin-top: 50px;
}
.disc1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200.69%;
  color: #263238;
}
@media (max-width: 1100px) {
  .container2 {
    display: flex;
    max-width: 80%;
  }

  .contImg img {
    width: 100%;
  }
  .box1 {
    display: flex;
    max-width: 100%;
  }
  .box1Btn {
    font-size: 4vw;
  }
  .box1Mac img {
    width: 36vw;
  }
}
