* {
  font-family: Roboto;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}
.box1 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 507px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 133.69%;
  color: #1f2e35;
}
.btn {
  background: #ee4248;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 161px;
  height: 53px;
  padding: 10px 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: white;
  border: 0;
}

.pana {
  position: relative;
  margin-top: 93px;
  width: 562.97px;
  height: 366.61px;
}

@media (max-width: 1100px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 80%;
  }
  .box1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 31px;
  }
  .title2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
  }
  .gbtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box2 .pana {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 2% auto;
  }
}
