* {
  font-family: Roboto;
}
.bgImag {
  position: relative;
  display: inline-block;
  width: 100%;
}
.img1 {
  display: block;
  width: 100%;
}
.title {
  display: flex;
  position: relative;
  margin-top: -40%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30vw;
}
